@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Rubik Iso', cursive!important;
    box-sizing: border-box!important;
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Montserrat', sans-serif!important;
}
h1,h2 {
    font-family: 'Oswald', sans-serif!important;
}
li {
    font-family: 'Oswald', sans-serif!important;
}